.background-image {
    background: url("../images/brickwall-background.jpg");
}

.home-button {
    background-color: white;
    color:#546e7a;
    font-weight: bold;
}

.register-button {
    background-color: white;
    color:#546e7a;
    font-weight: bold;
}

.login-button {
    background-color: white;
    color:#546e7a;
    font-weight: bold;
}

.submit-button {
    background-color: white;
    color:#546e7a;
    font-weight: bold;
}

.edit-button {
    background-color: white;
    color:#546e7a;
    font-weight: bold;
    margin-left: auto;
}

.delete-button {
    background-color: white;
    color:#546e7a;
    font-weight: bold;
    margin-left: auto;
}


.btn-large:hover {
    background-color: rgb(197, 194, 194);
}

.btn-small:hover {
    background-color: rgb(197, 194, 194);
}

.flash-message h4 {
    line-height: 2;
    color: #546e7a;
}

.alphabet a {
    font-size: xx-large;
}

.arrow {
    vertical-align: middle;
}

.up-arrow {
    color: #546e7a;
}