{% extends "base.html" %}
{% block content %}
<br>
<div class="row">
    <!--Registration Form-->
    <form class="col s12" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel blue-grey darken-1">
            <!--Username-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix white-text"></i>
                    <input id="username" name="username" type="text" class="validate white-text"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="username" class="white-text">Log In</label>
                </div>
            </div>
            <!--Password-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix white-text"></i>
                    <input id="password" name="password" type="password" class="validate white-text" 
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="password" class="white-text">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s12 btn-large login-button">
                    Log In <i class="fas fa-key"></i>
                </button>
            </div>
            <div class="row">
                <p class="white-text">Not got an account yet? Click below to Register</p>
                <a href="{{ url_for('register') }}" class="col s12 btn-large register-button">
                    Register <i class="fas fa-check-circle"></i></a>
            </div>
        </div>
    </form>
</div>

{% endblock %}