{% extends "base.html" %} 
{% block content %}
<br>
<!--Heading-->
<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h5 class="center-align">The Cockney Rhyming Slang Dictionary</h5>
            </div>
        </div>
    </div>
</div>
<!--Alphabet links-->
<div class="row alphabet">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text center-align section table-of contents">
                <a href="#a" class="white-text">A </a>
                <a href="#b" class="white-text">B </a>
                <a href="#c" class="white-text">C </a>
                <a href="#d" class="white-text">D </a>
                <a href="#e" class="white-text">E </a>
                <a href="#f" class="white-text">F </a>
                <a href="#g" class="white-text">G </a>
                <a href="#h" class="white-text">H </a>
                <a href="#i" class="white-text">I </a>
                <a href="#j" class="white-text">J </a>
                <a href="#k" class="white-text">K </a>
                <a href="#l" class="white-text">L </a>
                <a href="#m" class="white-text">M </a>
                <a href="#n" class="white-text">N </a>
                <a href="#o" class="white-text">O </a>
                <a href="#p" class="white-text">P </a>
                <a href="#q" class="white-text">Q </a>
                <a href="#r" class="white-text">R </a>
                <a href="#s" class="white-text">S </a>
                <a href="#t" class="white-text">T </a>
                <a href="#u" class="white-text">U </a>
                <a href="#v" class="white-text">V </a>
                <a href="#w" class="white-text">W </a>
                <a href="#x" class="white-text">X </a>
                <a href="#y" class="white-text">Y </a>
                <a href="#z" class="white-text">Z </a>
            </div>
        </div>
    </div>
</div>

<!--Slang Dictionary-->

<div id="a" class="section scrollspy">
    <h3 class="white-text">A</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'A'-->
        {% if slang.slang_term[0] == "A" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-a"></i> <em id="hide-definition-a">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="b" class="section scrollspy">
    <h3 class="white-text">B</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'B'-->
        {% if slang.slang_term[0] == "B" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-b"></i> <em id="hide-definition-b">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="c" class="section scrollspy">
    <h3 class="white-text">C</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'C'-->
        {% if slang.slang_term[0] == "C" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-c"></i> <em id="hide-definition-c">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="d" class="section scrollspy">
    <h3 class="white-text">D</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'D'-->
        {% if slang.slang_term[0] == "D" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-d"></i> <em id="hide-definition-d">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="e" class="section scrollspy">
    <h3 class="white-text">E</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'E'-->
        {% if slang.slang_term[0] == "E" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-e"></i> <em id="hide-definition-e">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="f" class="section scrollspy">
    <h3 class="white-text">F</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'F'-->
        {% if slang.slang_term[0] == "F" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-f"></i> <em id="hide-definition-f">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="g" class="section scrollspy">
    <h3 class="white-text">G</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'G'-->
        {% if slang.slang_term[0] == "G" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-g"></i> <em id="hide-definition-g">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="h" class="section scrollspy">
    <h3 class="white-text">H</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'H'-->
        {% if slang.slang_term[0] == "H" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-h"></i> <em id="hide-definition-h">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="i" class="section scrollspy">
    <h3 class="white-text">I</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'I'-->
        {% if slang.slang_term[0] == "I" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-i"></i> <em id="hide-definition-i">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="j" class="section scrollspy">
    <h3 class="white-text">J</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'J'-->
        {% if slang.slang_term[0] == "J" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-j"></i> <em id="hide-definition-j">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="k" class="section scrollspy">
    <h3 class="white-text">K</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'K'-->
        {% if slang.slang_term[0] == "K" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-k"></i> <em id="hide-definition-k">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="l" class="section scrollspy">
    <h3 class="white-text">L</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'L'-->
        {% if slang.slang_term[0] == "L" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-l"></i> <em id="hide-definition-l">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="m" class="section scrollspy">
    <h3 class="white-text">M</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'M'-->
        {% if slang.slang_term[0] == "M" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-m"></i> <em id="hide-definition-m">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="n" class="section scrollspy">
    <h3 class="white-text">N</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'N'-->
        {% if slang.slang_term[0] == "N" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-n"></i> <em id="hide-definition-n">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="o" class="section scrollspy">
    <h3 class="white-text">O</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'O'-->
        {% if slang.slang_term[0] == "O" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-o"></i> <em id="hide-definition-o">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="p" class="section scrollspy">
    <h3 class="white-text">P</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'P'-->
        {% if slang.slang_term[0] == "P" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-p"></i> <em id="hide-definition-p">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="q" class="section scrollspy">
    <h3 class="white-text">Q</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'Q'-->
        {% if slang.slang_term[0] == "Q" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-q"></i> <em id="hide-definition-q">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="r" class="section scrollspy">
    <h3 class="white-text">R</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'R'-->
        {% if slang.slang_term[0] == "R" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-r"></i> <em id="hide-definition-r">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="s" class="section scrollspy">
    <h3 class="white-text">S</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'S'-->
        {% if slang.slang_term[0] == "S" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-s"></i> <em id="hide-definition-s">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="t" class="section scrollspy">
    <h3 class="white-text">T</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'T'-->
        {% if slang.slang_term[0] == "T" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-t"></i> <em id="hide-definition-t">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="u" class="section scrollspy">
    <h3 class="white-text">U</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'U'-->
        {% if slang.slang_term[0] == "U" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-u"></i> <em id="hide-definition-u">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="v" class="section scrollspy">
    <h3 class="white-text">V</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'V'-->
        {% if slang.slang_term[0] == "V" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-v"></i> <em id="hide-definition-v">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="w" class="section scrollspy">
    <h3 class="white-text">W</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'W'-->
        {% if slang.slang_term[0] == "W" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-w"></i> <em id="hide-definition-w">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="x" class="section scrollspy">
    <h3 class="white-text">X</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'X'-->
        {% if slang.slang_term[0] == "X" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-x"></i> <em id="hide-definition-x">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="y" class="section scrollspy">
    <h3 class="white-text">Y</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'Y'-->
        {% if slang.slang_term[0] == "Y" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-y"></i> <em id="hide-definition-y">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

<div id="z" class="section scrollspy">
    <h3 class="white-text">Z</h3>
</div>
    <!--Searches database for slang in collection called words-->
    {% for slang in words %}
        <!--Only collects data where first letter is equivalent to 'Z'-->
        {% if slang.slang_term[0] == "Z" %}
            <ul class="collapsible">
                <li>
                    <div class=" row collapsible-header blue-grey darken-1 white-text col s12">
                        <div class="col s10 font-size">
                            <i class="fas fa-caret-down white-text"></i><strong>{{ slang.slang_term }}</strong> 
                            <i class="arrow fas fa-long-arrow-alt-right" id="hide-arrow-z"></i> <em id="hide-definition-z">
                                {{ slang.slang_definition }}</em>
                            <div class="hide-arrow-definition">
                                <i class="arrow fas fa-long-arrow-alt-right" ></i> <em >{{ slang.slang_definition }}</em>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <!--Adds name of logged in user who created slang-->
                            {% if session.user|lower == slang.created_by|lower %}
                            <a href="{{ url_for('edit_slang', slang_id=slang._id)}}" class=" btn-small edit-button">
                                Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--Adds date slang created on using python datetime-->
                    <div class="collapsible-body white">
                        <span>Created by: {{ slang.created_by }} On: {{ slang.date_created }}</span>
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

    <!--Floating action button-->
    <div class="fixed-action-btn">
        <a href="{{ url_for('get_words') }}" class="btn-floating btn-large white">
        <i class="fas fa-arrow-up black-text"></i>
        </a>
    </div>
{% endblock %}